name: Version Testing

on: workflow_dispatch
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Important to get full git history
    
    - name: Git Version
      id: version
      uses: codacy/git-version@2.4.0
      with:
        release-branch: main
        dev-branch: dev
        prefix: ""
        log-paths: CRUD-Full-Stack-App/angular-frontend

      # Format the version as "CRUD-ngfe:x.y.z"
    - name: Format version for artifact
      id: formatted
      run: |
        ARTIFACT_TAG="CRUD-ngfe:${{ steps.version.outputs.version }}"
        echo "artifact_tag=$ARTIFACT_TAG" >> $GITHUB_OUTPUT
        shell: bash
        
    - name: Print version
      run: echo "Generated Artifact Tag - ${{ steps.formatted.outputs.artifact_tag }}"

    #   # Authenticate to DigitalOcean Container Registry
    # - name: Authenticate with DigitalOcean Container Registry
    #   run: echo "${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}" | docker login registry.digitalocean.com -u doctl --password-stdin
    
    # - name: Build Docker image
    #   run: |
    #     IMAGE=registry.digitalocean.com/YOUR_REGISTRY_NAME/${{ steps.formatted.outputs.artifact_tag }}
    #     docker build -t $IMAGE .
    #   # Push Docker image
    # - name: Push Docker image
    #   run: |
    #     IMAGE=registry.digitalocean.com/YOUR_REGISTRY_NAME/${{ steps.formatted.outputs.artifact_tag }}
    #     docker push $IMAGE
